@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes slideIn {
  from {
    transform: translateY(-100%); }
  to {
    transform: translateY(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font-family: "Outfit", sans-serif;
  color: #999;
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden;
  background-color: #F8F9FB; }

.heading--1, .popular__title,
.top-rated__title,
.recently-viewed__title {
  font-weight: 600;
  font-size: 1.75rem;
  color: #162238; }
  @media (max-width: 576px) {
    .heading--1, .popular__title,
    .top-rated__title,
    .recently-viewed__title {
      font-size: 1.2rem; } }

.heading--2, .slider__item-title,
.top-rated-slider__item-title,
.recently-viewed-slider__item-title {
  font-weight: 600;
  font-size: 1.5rem; }
  @media (max-width: 576px) {
    .heading--2, .slider__item-title,
    .top-rated-slider__item-title,
    .recently-viewed-slider__item-title {
      font-size: 1.2rem;
      margin-top: 0.2rem; } }

.heading--3, .footers__text--1 {
  font-weight: 600;
  font-size: 1.25rem;
  color: #162238;
  margin-bottom: 0.5rem; }
  @media (max-width: 576px) {
    .heading--3, .footers__text--1 {
      font-size: 1rem; } }

.sub-heading, .popular__link,
.top-rated__link,
.recently-viewed__link {
  font-weight: 500;
  font-size: 1.25rem;
  color: #66C1EE;
  cursor: pointer; }
  @media (max-width: 576px) {
    .sub-heading, .popular__link,
    .top-rated__link,
    .recently-viewed__link {
      font-size: 1rem; } }
  .sub-heading:hover, .popular__link:hover,
  .top-rated__link:hover,
  .recently-viewed__link:hover {
    transition: all 0.2s;
    filter: grayscale(60%) brightness(80%); }

.sub-heading--2, .slider__item-subtitle,
.top-rated-slider__item-subtitle,
.recently-viewed-slider__item-subtitle {
  font-weight: 500;
  font-size: 1.25rem;
  color: #959EAE; }
  @media (max-width: 576px) {
    .sub-heading--2, .slider__item-subtitle,
    .top-rated-slider__item-subtitle,
    .recently-viewed-slider__item-subtitle {
      font-size: 1rem; } }

.sub-heading--1, .slider__item-footer-value,
.top-rated-slider__item-footer--text,
.recently-viewed-slider__item-footer--text {
  font-weight: 400;
  font-size: 1rem;
  color: #959EAE; }

.hero {
  line-height: 0rem; }
  .hero .hero__item-left {
    font-size: 4.5rem;
    font-weight: 600;
    color: #162238; }
    @media (max-width: 1200px) {
      .hero .hero__item-left {
        font-size: 3.7rem; } }
    @media (max-width: 1064px) {
      .hero .hero__item-left {
        font-size: 3.5rem; } }
    @media (max-width: 992px) {
      .hero .hero__item-left {
        font-size: 2.7rem; } }
    @media (max-width: 768px) {
      .hero .hero__item-left {
        font-size: 2.15rem; } }
    @media (max-width: 576px) {
      .hero .hero__item-left {
        font-size: 1.8rem; } }
    @media (max-width: 480px) {
      .hero .hero__item-left {
        font-size: 1.4rem; } }
    @media (max-width: 375px) {
      .hero .hero__item-left {
        font-size: 1rem; } }
  .hero .hero__item--text {
    line-height: 5rem; }
    @media (max-width: 992px) {
      .hero .hero__item--text {
        line-height: 4rem; } }
    @media (max-width: 768px) {
      .hero .hero__item--text {
        line-height: 2.5rem; } }
    @media (max-width: 576px) {
      .hero .hero__item--text {
        line-height: 2rem; } }
    @media (max-width: 480px) {
      .hero .hero__item--text {
        line-height: 1.5rem; } }
    @media (max-width: 375px) {
      .hero .hero__item--text {
        line-height: 1.2rem; } }
  .hero .hero__item--span {
    color: #66C1EE; }
  .hero .hero__item-caption {
    font-size: 1.5rem;
    line-height: 1.6rem;
    font-weight: 400;
    color: #959EAE; }
    @media (max-width: 992px) {
      .hero .hero__item-caption {
        font-size: 1.09rem; } }
    @media (max-width: 768px) {
      .hero .hero__item-caption {
        font-size: 0.825rem; } }
    @media (max-width: 480px) {
      .hero .hero__item-caption {
        font-size: 0.725rem;
        line-height: 1rem; } }
    @media (max-width: 480px) {
      .hero .hero__item-caption {
        font-size: 0.625rem;
        line-height: .8rem; } }
  .hero .hero__item-search {
    color: #959EAE; }

.feature {
  font-weight: 500;
  color: #162238;
  font-size: 1.125rem; }
  @media (max-width: 576px) {
    .feature {
      font-size: 0.8rem; } }

.popular-slider__wrapper {
  margin-top: 2rem; }
  @media (max-width: 576px) {
    .popular-slider__wrapper {
      margin-top: 0; } }

.slider__item {
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 0.75rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  color: #162238;
  z-index: 999999; }
  .slider__item:hover {
    color: #66C1EE; }
  .slider__item .slider__item-img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    align-self: center;
    margin: 0 auto; }
  .slider__item .slider__item-title {
    text-align: left;
    margin-bottom: 0.6rem;
    margin-top: .5rem; }
  .slider__item .slider__item-subtitle {
    text-align: left;
    margin-bottom: 1rem; }
  .slider__item .slider__item-footer {
    display: flex; }
    .slider__item .slider__item-footer-value {
      margin-left: 0.3rem;
      white-space: nowrap; }
    .slider__item .slider__item-footer-ellipse {
      align-self: center;
      border-radius: 50%;
      margin: 0 0.75rem;
      width: 0.25rem;
      height: 0.25rem;
      background-color: #959EAE; }

.recently-viewed-slider__wrapper {
  margin-top: 2rem; }
  @media (max-width: 576px) {
    .recently-viewed-slider__wrapper {
      margin-top: 0; } }

.slick-slide {
  margin: 1rem 1rem 1rem 0.1rem; }

.slick-list {
  margin: 0 -24px 150px 0 !important; }

.slick-dots {
  display: none !important; }

@media (max-width: 480px) {
  .slick-track {
    margin: 0 0 0 -3.5rem !important; } }

@media (max-width: 375px) {
  .slick-track {
    margin: 0  !important; } }

@media (max-width: 768px) {
  .top-rated-slider .slick-track {
    margin: 0 0 0 -4rem !important; } }

@media (max-width: 576px) {
  .top-rated-slider .slick-track {
    margin: 0 0 0 -0.2rem !important; } }

.slick-prev {
  left: 0;
  transform: rotate(180deg); }

.slick-next {
  right: 0; }

.custom-arrow {
  font-size: 24px;
  color: #333;
  cursor: pointer;
  padding: 0.3rem;
  margin: 0;
  border-radius: 0.25rem;
  background-color: #ffffff;
  box-shadow: 2px 3px 32px 0px #d1d3e352;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; }
  .custom-arrow:hover {
    background-color: #f7f7f7; }

.custom-arrow img {
  max-width: 100%;
  max-height: 100%; }

.custom-prev-arrow {
  position: absolute;
  top: 40%;
  left: -1rem;
  transform: translateY(-50%); }
  .custom-prev-arrow--2 {
    top: 50%; }

.custom-next-arrow {
  position: absolute;
  top: 40%;
  right: -2rem;
  transform: translateY(-50%); }
  .custom-next-arrow--2 {
    top: 50%; }

.top-rated-slider__wrapper {
  margin-top: 2rem; }
  @media (max-width: 576px) {
    .top-rated-slider__wrapper {
      margin-top: 0; } }
  .top-rated-slider__wrapper .top-rated-slider__item {
    max-height: 140px;
    display: flex !important;
    background-color: #ffffff;
    color: #162238;
    border-radius: 0.75rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    cursor: pointer; }
    .top-rated-slider__wrapper .top-rated-slider__item:hover {
      color: #66C1EE; }
    @media (max-width: 992px) {
      .top-rated-slider__wrapper .top-rated-slider__item {
        padding: 1rem 0 1rem 1rem; } }
    .top-rated-slider__wrapper .top-rated-slider__item .top-rated-slider__item-left {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    .top-rated-slider__wrapper .top-rated-slider__item .top-rated-slider__item-img {
      max-width: 6.25rem;
      height: 6.25rem;
      border-radius: 10px; }
      @media (max-width: 375px) {
        .top-rated-slider__wrapper .top-rated-slider__item .top-rated-slider__item-img {
          height: 5rem; } }
    .top-rated-slider__wrapper .top-rated-slider__item .top-rated-slider__item-right {
      padding: 0 1rem;
      white-space: nowrap; }
    @media (max-width: 375px) {
      .top-rated-slider__wrapper .top-rated-slider__item .top-rated-slider__item-footer--map {
        margin-left: 1rem; } }
    @media (max-width: 375px) {
      .top-rated-slider__wrapper .top-rated-slider__item .top-rated-slider__item-title {
        font-size: 1rem; } }
    .top-rated-slider__wrapper .top-rated-slider__item .top-rated-slider__item-subtitle {
      margin-bottom: 0.5rem; }
      @media (max-width: 375px) {
        .top-rated-slider__wrapper .top-rated-slider__item .top-rated-slider__item-subtitle {
          font-size: .9rem; } }
    .top-rated-slider__wrapper .top-rated-slider__item .top-rated-slider__item-footer {
      display: flex; }
      .top-rated-slider__wrapper .top-rated-slider__item .top-rated-slider__item-footer--text {
        margin-left: 0.3rem;
        white-space: nowrap; }
        @media (max-width: 375px) {
          .top-rated-slider__wrapper .top-rated-slider__item .top-rated-slider__item-footer--text {
            font-size: .8rem;
            margin: .1rem .1rem 0 .1rem; } }
      .top-rated-slider__wrapper .top-rated-slider__item .top-rated-slider__item-footer--ellipse {
        align-self: center;
        border-radius: 50%;
        margin: 0 0.75rem;
        width: 0.25rem;
        height: 0.25rem;
        background-color: #959EAE; }
        @media (max-width: 375px) {
          .top-rated-slider__wrapper .top-rated-slider__item .top-rated-slider__item-footer--ellipse {
            display: none; } }

.feature__container {
  padding: 0 5rem;
  position: relative;
  z-index: 90; }
  @media (max-width: 992px) {
    .feature__container {
      padding: 0 3rem; } }
  @media (max-width: 576px) {
    .feature__container {
      padding: 0 1rem 2rem 1rem;
      background-color: #DDF3FF !important;
      z-index: 0; } }
  @media (max-width: 480px) {
    .feature__container {
      padding: 0 1rem 2rem 1rem; } }
  .feature__container .feature__wrapper {
    background-color: #fff;
    border-radius: 0.75rem;
    transform: translateY(-50%);
    height: 11.875rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
    width: 100%; }
    @media (max-width: 992px) {
      .feature__container .feature__wrapper {
        box-shadow: none;
        grid-template-columns: repeat(4, 1fr); } }
    @media (max-width: 576px) {
      .feature__container .feature__wrapper {
        transform: translateY(0);
        background-color: transparent;
        box-shadow: none; } }
  .feature__container .feature__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem; }
    .feature__container .feature__item:hover {
      transition: all 0.2s;
      opacity: 0.8; }
    @media (max-width: 992px) {
      .feature__container .feature__item {
        padding: 0;
        z-index: 4; } }
    .feature__container .feature__item .feature__icon {
      background-color: #EFF9FF;
      background-color: #fff;
      border-radius: 0.75rem;
      padding: 0.56rem; }
      @media (max-width: 992px) {
        .feature__container .feature__item .feature__icon {
          padding: 0; } }
      @media (max-width: 576px) {
        .feature__container .feature__item .feature__icon {
          padding: 0.3rem; } }
    .feature__container .feature__item .feature__text {
      padding: 0;
      margin-top: 0.5rem; }
      @media (max-width: 992px) {
        .feature__container .feature__item .feature__text {
          margin-top: 0; } }
    @media (max-width: 992px) {
      .feature__container .feature__item--8 {
        display: none; } }

.footer {
  border-top: 1px solid #B0B8C7; }
  .footer .footer__text {
    display: flex;
    border-top: 1px solid #B0B8C7;
    justify-content: space-between;
    padding: 1rem 0;
    margin-top: auto; }
    @media (max-width: 768px) {
      .footer .footer__text {
        font-size: 0.8rem; } }
    @media (max-width: 480px) {
      .footer .footer__text {
        font-size: 0.6rem; } }
    @media (max-width: 375px) {
      .footer .footer__text {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        padding: .7rem 0; } }
  .footer .footer__right {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 375px) {
      .footer .footer__right {
        text-align: center;
        justify-content: center; } }
  .footer .term,
  .footer .privacy {
    text-decoration: none;
    cursor: pointer;
    color: #162238;
    font-weight: 400;
    margin-right: 20px; }
    .footer .term:hover,
    .footer .privacy:hover {
      transition: all 0.2s;
      opacity: 0.8; }
    @media (max-width: 480px) {
      .footer .term,
      .footer .privacy {
        margin-right: 0.6rem; } }
    @media (max-width: 375px) {
      .footer .term,
      .footer .privacy {
        margin: 0 .5rem .3rem .5rem; } }

.footers {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem; }
  @media (max-width: 375px) {
    .footers {
      flex-direction: column;
      text-align: center;
      margin: 3rem 0; } }
  .footers .footers__left {
    display: flex;
    flex-direction: column; }
    .footers .footers__left .kyue-logo {
      width: 6.875rem;
      height: 3rem;
      cursor: pointer; }
      @media (max-width: 375px) {
        .footers .footers__left .kyue-logo {
          margin-right: .8rem; } }
    .footers .footers__left .social-media-icons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
      gap: 1.5rem;
      cursor: pointer;
      margin-top: 2rem;
      width: auto;
      height: 100%; }
      @media (max-width: 480px) {
        .footers .footers__left .social-media-icons {
          gap: 0.5rem;
          margin-top: 0.8rem; } }
      @media (max-width: 375px) {
        .footers .footers__left .social-media-icons {
          margin-top: 0; } }
      .footers .footers__left .social-media-icons img {
        margin-right: 5px; }
        .footers .footers__left .social-media-icons img:hover {
          transition: all 0.2s;
          opacity: 0.8; }
  .footers .footers__right {
    display: flex;
    flex-direction: column; }
    @media (max-width: 375px) {
      .footers .footers__right {
        margin-top: 1rem; } }
    .footers .footers__right .download-icons {
      text-decoration: none; }
      .footers .footers__right .download-icons .dowload_logo {
        cursor: pointer;
        width: auto;
        height: 100%; }
        @media (max-width: 1098px) {
          .footers .footers__right .download-icons .dowload_logo {
            width: 8.5rem;
            height: 2.625rem; } }
        @media (max-width: 768px) {
          .footers .footers__right .download-icons .dowload_logo {
            width: 6.5rem;
            height: 2.625rem; } }
        @media (max-width: 480px) {
          .footers .footers__right .download-icons .dowload_logo {
            width: 4.5rem;
            height: 1.625rem; } }
    .footers .footers__right .footers__text {
      margin: 1rem 0; }

.hero__item-illustration {
  position: absolute;
  top: -6.125rem;
  left: 0;
  right: 0;
  min-height: 672px;
  width: 100%;
  max-width: 90rem;
  overflow: hidden;
  margin: 0 auto;
  z-index: 10; }
  @media (max-width: 576px) {
    .hero__item-illustration {
      height: 115%;
      overflow: hidden;
      max-width: 110%;
      width: 100%;
      margin-left: 1rem;
      top: -1rem; } }
  @media (max-width: 480px) {
    .hero__item-illustration {
      height: 110%;
      overflow: hidden;
      max-width: 100%;
      width: 100%;
      top: -.3rem; } }

.hero__item-circle {
  position: absolute;
  right: -.5rem;
  height: 60%; }
  @media (max-width: 1200px) {
    .hero__item-circle {
      height: 65%;
      top: -2rem; } }
  @media (max-width: 992px) {
    .hero__item-circle {
      height: 50%; } }
  @media (max-width: 768px) {
    .hero__item-circle {
      top: -1rem;
      right: -2rem;
      height: 43%; } }

.hero__item-person {
  position: absolute;
  right: 1.5rem;
  top: 7rem; }
  @media (max-width: 1200px) {
    .hero__item-person {
      height: 82%;
      top: 11rem;
      right: .5rem; } }
  @media (max-width: 992px) {
    .hero__item-person {
      top: 10rem;
      height: 65%; } }
  @media (max-width: 768px) {
    .hero__item-person {
      top: 10rem;
      right: -1rem;
      height: 55%;
      width: 50%; } }
  @media (max-width: 576px) {
    .hero__item-person {
      top: 6rem;
      right: -.1rem;
      height: 40%;
      width: 50%; } }
  @media (max-width: 480px) {
    .hero__item-person {
      top: 5rem;
      right: .8rem;
      height: 30%;
      width: auto; } }

.hero__item-pattern {
  position: absolute;
  top: -1.125rem;
  left: 2rem;
  right: 0;
  min-height: 672px;
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  z-index: 9; }
  @media (max-width: 1200px) {
    .hero__item-pattern {
      overflow: hidden; } }

.hero-wrap {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  background-color: #DDF3FF !important;
  padding: 0.3rem;
  border-radius: 0.8rem;
  height: 100%; }
  @media (max-width: 576px) {
    .hero-wrap {
      padding: 0 0 0 1rem; } }
  @media (max-width: 480px) {
    .hero-wrap {
      padding: 0; } }
  .hero-wrap .hero__item-left {
    padding: 0 0 0 1.5rem;
    width: 55%;
    align-self: center;
    z-index: 10; }
    @media (max-width: 1200px) {
      .hero-wrap .hero__item-left {
        padding: 0 1rem 0 0; } }
    @media (max-width: 768px) {
      .hero-wrap .hero__item-left {
        padding: 0 1rem 0 0; } }
    @media (max-width: 576px) {
      .hero-wrap .hero__item-left {
        width: 55%; } }
    @media (max-width: 480px) {
      .hero-wrap .hero__item-left {
        width: 50%; } }
    @media (max-width: 375px) {
      .hero-wrap .hero__item-left {
        width: 45%; } }
  .hero-wrap .hero__item--span {
    color: #66C1EE;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap; }
    @media (max-width: 768px) {
      .hero-wrap .hero__item--span {
        white-space: nowrap; } }
  .hero-wrap .hero__item-underline {
    top: -10px;
    padding: 0; }
    @media (max-width: 1200px) {
      .hero-wrap .hero__item-underline {
        width: 90%; } }
    @media (max-width: 480px) {
      .hero-wrap .hero__item-underline {
        width: 100%; } }
  .hero-wrap .hero__item-caption {
    flex: 1;
    margin-top: 3rem; }
    @media (max-width: 992px) {
      .hero-wrap .hero__item-caption {
        margin-top: 1.2rem; } }
    @media (max-width: 576px) {
      .hero-wrap .hero__item-caption {
        white-space: nowrap; } }
    @media (max-width: 480px) {
      .hero-wrap .hero__item-caption {
        margin-top: .8rem; } }
  .hero-wrap .hero__item-right {
    flex: 1;
    position: relative;
    pointer-events: none; }
    @media (max-width: 576px) {
      .hero-wrap .hero__item-right {
        padding: 5rem 0;
        overflow: hidden; } }
  .hero-wrap .hero__item-search {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    padding: 1.6% 3%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%; }
    @media (max-width: 1200px) {
      .hero-wrap .hero__item-search {
        width: 100%; } }
    @media (max-width: 992px) {
      .hero-wrap .hero__item-search {
        margin-top: 1.2rem;
        width: 90%; } }
    @media (max-width: 768px) {
      .hero-wrap .hero__item-search {
        width: 100%; } }
    @media (max-width: 576px) {
      .hero-wrap .hero__item-search {
        top: 15rem;
        position: absolute;
        width: 95%;
        left: 1rem; } }
    @media (max-width: 480px) {
      .hero-wrap .hero__item-search {
        top: 11.2rem;
        position: absolute;
        width: 100%;
        left: -.5rem; } }
    .hero-wrap .hero__item-search input {
      max-width: 100%;
      flex: 1;
      font-family: inherit;
      background-color: white;
      border: none;
      padding: 1% 1% 1% 2%;
      margin-right: 1%;
      transition: all 0.2s;
      border-right: 1px solid #ccc; }
      .hero-wrap .hero__item-search input:focus {
        outline: none; }
      @media (max-width: 768px) {
        .hero-wrap .hero__item-search input {
          padding: 0.5rem;
          border: none; } }
    @media (max-width: 768px) {
      .hero-wrap .hero__item-search .icon--2 {
        display: none; } }
    .hero-wrap .hero__item-search select {
      max-width: 90%;
      border: none;
      background-color: white;
      padding: 2.8% 5%;
      color: #162238;
      font-family: inherit;
      font-weight: 400;
      border-radius: 12px; }
      .hero-wrap .hero__item-search select:focus {
        outline: none; }
      @media (max-width: 992px) {
        .hero-wrap .hero__item-search select {
          max-width: 10%; } }
      @media (max-width: 768px) {
        .hero-wrap .hero__item-search select {
          display: none; } }

.header__nav {
  grid-column: 1/-1;
  position: absolute;
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
  padding: 1.5rem 5rem 0 5rem;
  background-color: transparent; }
  .header__nav.header_nav-scrolled {
    display: none; }
  @media (max-width: 992px) {
    .header__nav {
      padding: 1.5rem 3rem 0 3rem; } }
  @media (max-width: 576px) {
    .header__nav {
      position: fixed;
      padding: 1.5rem 3rem 0 1.5rem; }
      .header__nav.header_nav-scrolled {
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
        padding-top: 0.6rem;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); } }
  @media (max-width: 480px) {
    .header__nav {
      padding: 1.5rem 2rem 0 1rem; } }

.header__right {
  display: flex;
  align-items: center; }

.header__login {
  margin-right: 0.98rem;
  text-decoration: none;
  color: #162238; }
  .header__login:hover {
    transition: all 0.2s;
    opacity: 0.8; }
  @media (max-width: 768px) {
    .header__login {
      margin: 0; } }

.header__left {
  display: flex;
  align-items: center; }

.header__logo {
  cursor: pointer;
  width: 7.875rem;
  border-right: 1px solid #b0b8c7;
  padding-right: 1rem;
  z-index: 99999999;
  height: 3rem; }
  .header__logo:hover {
    transition: all 0.2s;
    opacity: 0.8; }
  @media (max-width: 768px) {
    .header__logo {
      width: 7.8rem;
      border: none; } }

.header__btn--1 {
  padding: 1rem 2rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #fff;
  color: #FD964B;
  border: 1px solid #FD964B;
  font-weight: 700; }
  .header__btn--1:hover {
    background-color: #FD964B;
    color: #fff;
    transition: all 0.2s; }
  @media (max-width: 768px) {
    .header__btn--1 {
      display: none; } }

.header__btn--2 {
  padding: 1rem 2rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #162238;
  color: #fff;
  border: none;
  font-weight: 700; }
  .header__btn--2:hover {
    transition: all 0.2s;
    opacity: 0.8; }

.header__menu-icon {
  position: relative;
  display: none; }
  @media (max-width: 768px) {
    .header__menu-icon {
      display: block;
      z-index: 99999999;
      cursor: pointer;
      font-size: 1.5rem;
      margin-left: 1rem; }
      .header__menu-icon::after {
        content: "";
        position: absolute;
        width: 3rem;
        height: 3rem;
        background-color: #fff;
        border-radius: 50%;
        top: -0.25rem;
        left: -.85rem;
        z-index: -1;
        border: 1px solid #ccc; } }

.header__links {
  display: flex;
  align-items: center; }
  @media (max-width: 768px) {
    .header__links {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      animation: slideIn 0.5s ease-in-out;
      animation-fill-mode: both;
      padding-top: 10rem;
      align-items: center;
      z-index: 999;
      background-color: #fff; }
      .header__links.closed {
        animation: slideOut 0.5s ease-in-out;
        animation-fill-mode: both; } }

#menu-toggle {
  display: none; }

@media (max-width: 768px) {
  .header__btn--1, .header__btn--2 {
    width: 90%;
    margin: 0; }
  .header__links a,
  .header__btn--1,
  .header__btn--2 {
    margin-top: 1rem; }
  #menu-toggle {
    display: none; }
  #menu-toggle:checked + .header__menu-icon ~ .header__links {
    display: flex; } }

.hero {
  background-color: #DDF3FF !important;
  position: relative;
  padding: 0 5rem;
  height: 42rem;
  overflow: hidden; }
  @media (max-width: 992px) {
    .hero {
      padding: 0 3rem;
      height: 35rem; } }
  @media (max-width: 768px) {
    .hero {
      height: 30rem; } }
  @media (max-width: 576px) {
    .hero {
      padding: 4rem 1rem 2rem 1rem;
      max-height: 24rem;
      background-color: #DDF3FF !important !important; } }
  @media (max-width: 480px) {
    .hero {
      padding: 3rem 1rem 2rem 1.5rem;
      max-height: 19rem;
      background-color: #DDF3FF !important !important; } }

.popular {
  padding: 0 5rem; }
  @media (max-width: 992px) {
    .popular {
      padding: 0 3rem; } }
  @media (max-width: 576px) {
    .popular {
      padding: 1.5rem; } }
  .popular .popular__wrap {
    display: flex;
    justify-content: space-between; }
  @media (max-width: 576px) {
    .popular {
      margin-top: 2rem;
      height: 28rem; } }

.top-rated {
  padding: 0 5rem; }
  @media (max-width: 992px) {
    .top-rated {
      padding: 0 3rem; } }
  @media (max-width: 576px) {
    .top-rated {
      padding: 1.5rem; } }
  .top-rated .top-rated__wrap {
    display: flex;
    justify-content: space-between; }
  @media (max-width: 576px) {
    .top-rated {
      margin-top: 2rem;
      height: 14rem; } }

.recently-viewed {
  padding: 0 5rem; }
  @media (max-width: 992px) {
    .recently-viewed {
      padding: 0 3rem; } }
  @media (max-width: 576px) {
    .recently-viewed {
      padding: 1.5rem; } }
  .recently-viewed .recently-viewed__wrap {
    display: flex;
    justify-content: space-between; }
  @media (max-width: 576px) {
    .recently-viewed {
      margin-top: 2rem;
      height: 28rem; } }

.footer {
  height: 22rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  padding: 0 5rem; }
  @media (max-width: 992px) {
    .footer {
      padding: 0 3rem;
      margin: 0; } }
  @media (max-width: 576px) {
    .footer {
      margin-top: 4rem;
      padding: 0 1.5rem; } }
  @media (max-width: 480px) {
    .footer {
      height: 15rem; } }
