.popular-slider__wrapper {
  margin-top: 2rem;

  @media (max-width: map-get($grid-breakpoints, sm)) {
    margin-top: 0;
  }
}

.slider__item {
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 0.75rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  color: $color-black;
  // color: red !important;
  z-index: 999999;

  &:hover {
    color: $color-primary-light;
  }

  .slider__item-img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    align-self: center;
    margin: 0 auto;
  }

  .slider__item-title {
    text-align: left;
    margin-bottom: 0.6rem;
    margin-top: .5rem;
    // color: $color-black;
  }

  .slider__item-subtitle {
    text-align: left;
    margin-bottom: 1rem;
  }
  .slider__item-footer {
    display: flex;

    &-value {
      margin-left: 0.3rem;
      white-space: nowrap;
    }
    &-ellipse {
      align-self: center;
      border-radius: 50%;
      margin: 0 0.75rem;
      width: 0.25rem;
      height: 0.25rem;
      background-color: $color-grey-light-2;
    }
  }
  // &-4 {
  //   @media (max-width: map-get($grid-breakpoints, lg-2)) {
  //     display: none;
  //   }
  // }
}

.recently-viewed-slider__wrapper {
  margin-top: 2rem;

  @media (max-width: map-get($grid-breakpoints, sm)) {
    margin-top: 0;
  }
}

// .recently-viewed-slider__item {
//   cursor: pointer;
//   background-color: #ffffff;
//   border-radius: 0.75rem;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//   padding: 1.5rem;
//   text-align: center;
//   // color: red !important;
//   color: $color-black;
//   z-index: 999999;

//   &:hover {
//     color: $color-primary-light;
//   }

//   .recently-viewed-slider__item-img {
//     width: 100%;
//     height: auto;
//     margin-bottom: 15px;
//     align-self: center;
//     margin: 0 auto;
//   }

//   .recently-viewed-slider__item-title {
//     text-align: left;
//     margin-bottom: 0.6rem;
//     margin-top: .5rem;
//   }

//   .recently-viewed-slider__item-subtitle {
//     text-align: left;
//     margin-bottom: 1rem;
//   }
//   .recently-viewed-slider__item-footer {
//     display: flex;

//     &--text {
//       margin-left: 0.3rem;
//       white-space: nowrap;
//     }
//     &--ellipse {
//       align-self: center;
//       border-radius: 50%;
//       margin: 0 0.75rem;
//       width: 0.25rem;
//       height: 0.25rem;
//       background-color: $color-grey-light-2;
//     }
//   }
//   &--4 {
//     @media (max-width: map-get($grid-breakpoints, lg-2)) {
//       display: none;
//     }
//   }
// }

.slick-slide {
  margin: 1rem 1rem 1rem 0.1rem;
}
.slick-list {
  margin: 0 -24px 150px 0 !important;
}
.slick-dots {
  display: none !important;
}
.slick-track {
  @media (max-width: map-get($grid-breakpoints, xs-3)) {
    margin: 0 0 0 -3.5rem !important;
  }
  @media (max-width: map-get($grid-breakpoints, xs-2)) {
    margin: 0  !important;
  }
}
.top-rated-slider {
  .slick-track {
    @media (max-width: map-get($grid-breakpoints, md)) {
      margin: 0 0 0 -4rem !important;
    }
    @media (max-width: map-get($grid-breakpoints, sm)) {
      margin: 0 0 0 -0.2rem !important;
    }
  }
}

.slick-prev {
  left: 0;
  transform: rotate(180deg);
}

.slick-next {
  right: 0;
}

.custom-arrow {
  font-size: 24px;
  color: #333;
  cursor: pointer;
  padding: 0.3rem;
  margin: 0;
  border-radius: 0.25rem;
  background-color: #ffffff;
  box-shadow: 2px 3px 32px 0px #d1d3e352;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  &:hover {
    background-color: $color-grey-light-1;
  }
}

.custom-arrow img {
  max-width: 100%;
  max-height: 100%;
}

.custom-prev-arrow {
  position: absolute;
  top: 40%;
  left: -1rem;
  transform: translateY(-50%);
  &--2 {
    top: 50%;
  }
}

.custom-next-arrow {
  position: absolute;
  top: 40%;
  right: -2rem;
  transform: translateY(-50%);
  &--2 {
    top: 50%;
  }
}
.top-rated-slider__wrapper {
  margin-top: 2rem;
  @media (max-width: map-get($grid-breakpoints, sm)) {
    margin-top: 0;
  }

  .top-rated-slider__item {
    max-height: 140px;
    display: flex !important;
    background-color: #ffffff;
    color: $color-black;
    border-radius: 0.75rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    cursor: pointer;

    &:hover {
      color: $color-primary-light;
    }

    @media (max-width: map-get($grid-breakpoints, lg)) {
      padding: 1rem 0 1rem 1rem;
    }

    .top-rated-slider__item-left {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .top-rated-slider__item-img {
      max-width: 6.25rem;
      height: 6.25rem;
      border-radius: 10px;
      @media (max-width: map-get($grid-breakpoints, xs-2)) {
        // width: 60%;
        height: 5rem;
      }
    }
    .top-rated-slider__item-right {
      padding: 0 1rem;
      white-space: nowrap;
    }
    .top-rated-slider__item-footer--map{
      @media (max-width: map-get($grid-breakpoints, xs-2)) {
        margin-left: 1rem;
      }
    }
    .top-rated-slider__item-title{
      @media (max-width: map-get($grid-breakpoints, xs-2)) {
        font-size: 1rem;
      }
    }
    .top-rated-slider__item-subtitle {
      margin-bottom: 0.5rem;
      @media (max-width: map-get($grid-breakpoints, xs-2)) {
        font-size: .9rem;
      }
    }
    .top-rated-slider__item-footer {
      display: flex;
      
      &--text {
        margin-left: 0.3rem;
        white-space: nowrap;
        @media (max-width: map-get($grid-breakpoints, xs-2)) {
          font-size: .8rem;
          margin: .1rem .1rem 0 .1rem;
        }
      }
      &--ellipse {
        align-self: center;
        border-radius: 50%;
        margin: 0 0.75rem;
        width: 0.25rem;
        height: 0.25rem;
        background-color: $color-grey-light-2;
        @media (max-width: map-get($grid-breakpoints, xs-2)) {
          display: none;
        }

      }
    }
  }
}
