.feature__container {
  padding: 0 5rem;
  position: relative;
  z-index: 90;
  @media (max-width: map-get($grid-breakpoints, lg)) {
    padding: 0 3rem;
}
@media (max-width: map-get($grid-breakpoints, sm)) {
  padding: 0 1rem 2rem 1rem;
  background-color: $color-primary;
  z-index: 0;
}
@media (max-width: map-get($grid-breakpoints, xs-3)) {
  padding: 0 1rem 2rem 1rem; 
}
  .feature__wrapper{
  background-color: $color-white;
  border-radius: 0.75rem;
  // grid-column: 2 / 11;
  transform: translateY(-50%);
  height: 11.875rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  width: 100%;

  @media (max-width: map-get($grid-breakpoints, lg)) {
    box-shadow: none;
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: map-get($grid-breakpoints, sm)) {
    transform: translateY(0);
    background-color: transparent;
    box-shadow: none;
  }
}
  .feature__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    &:hover {
      transition: all.2s;
      opacity: 0.8;
    }

    @media (max-width: map-get($grid-breakpoints, lg)) {
      padding: 0;
      z-index: 4;
    }

    .feature__icon {
      background-color: $color-primary-light-2;
      background-color: $color-white;
      border-radius: 0.75rem;
      padding: 0.56rem;

      @media (max-width: map-get($grid-breakpoints, lg)) {
        padding: 0;
      }
      @media (max-width: map-get($grid-breakpoints, sm)) {
        padding: 0.3rem;
      }
    }

    .feature__text {
      padding: 0;
      margin-top: 0.5rem;
      @media (max-width: map-get($grid-breakpoints, lg)) {
        margin-top: 0;
      }
    }
    &--8 {
      @media (max-width: map-get($grid-breakpoints, lg)) {
        display: none;
      }
    }
  }
}
