*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: $color-bcg;
}

.container {
    display: grid;
    grid-template-rows: 42rem min-content  repeat(3, min-content);
    grid-template-columns: [sidebar-start] 5rem [sidebar-end full-start] minmax(5rem, 1fr)  [center-start] repeat(8, [col-start] minmax(min-content, 14rem)[col-end]) [center-end] minmax(5rem, 1fr) [full-end] ;

    @media (max-width: map-get($grid-breakpoints, lg)) {
        grid-template-rows: 35rem min-content repeat(3, min-content);
        grid-template-columns: [sidebar-start] 3rem [sidebar-end full-start] minmax(5rem, 1fr)  [center-start] repeat(8, [col-start] minmax(min-content, 14rem)[col-end]) [center-end] minmax(3rem, 1fr) [full-end] ;
    }
    @media (max-width: map-get($grid-breakpoints, md)) {
        grid-template-rows: 30rem min-content repeat(3, min-content);
    }
    @media (max-width: map-get($grid-breakpoints, sm)) {
        grid-template-rows: min-content min-content repeat(2, min-content);
        grid-template-columns: [sidebar-start] 1.5rem [sidebar-end full-start] minmax(5rem, 1fr)  [center-start] repeat(8, [col-start] minmax(min-content, 14rem)[col-end]) [center-end] minmax(1.5rem, 1fr) [full-end] ;
    }
}