.heading--1 {
  font-weight: 600;
  font-size: 1.75rem;
  color: $color-black;

  @media (max-width: map-get($grid-breakpoints, sm)) {
    font-size: 1.2rem;
  }
}
.heading--2 {
  font-weight: 600;
  font-size: 1.5rem;
  color: $color-black;

  @media (max-width: map-get($grid-breakpoints, sm)) {
    font-size: 1.2rem;
    margin-top: 0.2rem;
  }
}
.heading--3 {
  font-weight: 600;
  font-size: 1.25rem;
  color: $color-black;
  @media (max-width: map-get($grid-breakpoints, sm)) {
    font-size: 1rem;
  }
}
.sub-heading {
  font-weight: 500;
  font-size: 1.25rem;
  color: $color-primary-light;
  cursor: pointer;

  @media (max-width: map-get($grid-breakpoints, sm)) {
    font-size: 1rem;
  }

  &:hover {
    transition: all.2s;
    // opacity: 0.8;
    filter: grayscale(60%) brightness(80%);
  }
}
.sub-heading--2 {
  font-weight: 500;
  font-size: 1.25rem;
  color: $color-grey-light-2;
  @media (max-width: map-get($grid-breakpoints, sm)) {
    font-size: 1rem;
  }
}
.sub-heading--1 {
  font-weight: 400;
  font-size: 1rem;
  color: $color-grey-light-2;
}

.header {
  line-height: 0rem;
  &__title {
    font-size: 4.5rem;
    font-weight: 600;
    color: $color-black;

    @media (max-width: map-get($grid-breakpoints, xl)) {
      font-size: 3.7rem;
    }
    @media (max-width: map-get($grid-breakpoints, lg-1)) {
      font-size: 3.5rem;
    }
    @media (max-width: map-get($grid-breakpoints, lg)) {
      font-size: 2.7rem;
    }
    @media (max-width: map-get($grid-breakpoints, md)) {
      font-size: 2.15rem;
    }
    @media (max-width: map-get($grid-breakpoints, sm)) {
      font-size: 1.5rem;
    }
  }
  &__text {
    line-height: 5rem;
    @media (max-width: map-get($grid-breakpoints, lg)) {
      line-height: 4rem;
    }
    @media (max-width: map-get($grid-breakpoints, md)) {
      line-height: 2.5rem;
    }
    @media (max-width: map-get($grid-breakpoints, sm)) {
      line-height: 2rem;
    }
  }
  &__span {
    color: $color-primary-light;
  }
  &__caption {
    font-size: 1.5rem;
    line-height: 1.6rem;
    font-weight: 400;
    color: $color-grey-light-2;

    @media (max-width: map-get($grid-breakpoints, lg)) {
      font-size: 1.09rem;
    }
    @media (max-width: map-get($grid-breakpoints, md)) {
      font-size: 0.825rem;
    }
  }
  &__search {
    color: $color-grey-light-2;
  }
}

.feature {
  font-weight: 500;
  color: $color-black;
  font-size: 1.125rem;

  @media (max-width: map-get($grid-breakpoints, sm)) {
    font-size: 0.8rem;
  }
}
