.header {
  background-color: $color-primary;
  grid-column: 1/-1;
  padding: 0 0 0 5rem;
  @media (max-width: map-get($grid-breakpoints, sm)) {
    padding: 11rem 1.5rem 2rem 1.5rem;
    background-color: $color-bcg !important;
  }
}

.popular {
  grid-column: 2 / col-end 8;

  .popular__wrap {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    margin-top: 2rem;
    height: 28rem;
    // border: 1px solid red;
  }
}

.top-rated {
  grid-column: 2 / col-end 8;

  .top-rated__wrap {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    margin-top: 2rem;
    height: 14rem;
  }
}

.recently-viewed {
  grid-column: 2 / col-end 8;

  .recently-viewed__wrap {
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: map-get($grid-breakpoints, sm)) {
    margin-top: 2rem;
    height: 28rem;
  }
}

.footer {
  height: 22rem;
  margin-top: 4rem;
  grid-column: 1 / full-end;
  display: flex;
  flex-direction: column;
  padding: 0 5rem;

  @media (max-width: map-get($grid-breakpoints, lg)) {
    padding: 0 3rem;
    margin: 0;
  }
  @media (max-width: map-get($grid-breakpoints, sm)) {
    margin-top: 4rem;
    padding: 0 1.5rem;
  }
  @media (max-width: map-get($grid-breakpoints, xs-3)) {
    height: 15rem;
  }
}
